@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*{
  margin: 0;
  border: 0;
  padding: 0;
}

body{
  background-color: #ffffff;
  font-family: 'Roboto';
  
}
header{
  padding: 20px;
}

#menu{
  margin-left: 200px; 
}

#menu img{
  float: left;
  margin-right: 60px;
}
#menu a{
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 16px;
  line-height: 26px;
  color: #111111;
  margin-left: 40px;
}

#receitas{
  background-color: #FBDFDB;
  border-radius: 30px;
  width: 940px;
  height: 366px;
  margin-left: 220px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#chef img{
  margin-top: 65px;
  margin-left: 20%;
}

#texto h1{
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  margin-top: 20%;
  margin-left: 20%;
}

#texto p{
  opacity: 0.7;
  font-size: 18px;
  color: #000000;
  line-height: 28px;
  margin-left: 20%;
  width: 316px;
  height: 84px;
  margin-top: 20px;
}

.cards{
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-left: 220px;
  margin-top: 20px;
}

#acessadas{
  font-size: 24px;
  font-weight: 28px;
  font-weight: bold;
  margin-left: 220px;
  margin-top: 40px;
}

.card img{
  width: 300px;
  height: 140px;
  border-radius: 15px;
}

.card_content{
  font-size: 18px;
  line-height: 21px;
  margin-top: 15px;
}

.card_info{
  font-size: 14px;
  font-weight: 16px;
  color: #777777;
  margin-top: 5px;
}

footer{
  background-color: #EEEEEE;  
  width: 100%;
  height: 62px;
  margin-top: 60px;
}

footer p{
  font-size: 14px;
  color: #999999;
  text-align: center;
  padding: 25px;  
}