{% extends "layout.njk" %}

{%block head%}
  <head>
    <title>
      Foodfy - Sobre
    </title>
    <link rel="stylesheet" href="/styles.css">   
  </head>
{%endblock%}

{%block menu%}
  <a href="/about">Sobre</a>
  <a href="/admin/listagem"><strong>Listagem</strong></a>
{%endblock%}