/* LAYOUT PADRAO PARA TODAS AS PAGINAS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  margin: 0;
  border: 0;
  padding: 0;
}

body{
  background-color: #ffffff;
  font-family: 'Roboto';
  
}
header{
  padding: 20px;
  
}

#menu{
  margin-left: 160px;
  display: flex;
    
}

#menu img{
  margin-right: 48px;
  
}
#menu a{
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 16px;
  line-height: 26px;
  color: #111111;
  margin-left: 40px;
}

footer{
  background-color: #EEEEEE;  
  width: 100%;
  height: 62px;
  margin-top: 60px;
}

footer p{
  font-size: 14px;
  color: #999999;
  text-align: center;
  padding: 25px;  
}

/* LAYOUT DA PAGINA HOME */

#receitas{
  background-color: #FBDFDB;
  border-radius: 30px;
  width: 940px;
  height: 366px;
  margin-left: 220px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#chef img{
  margin-top: 65px;
  margin-left: 20%;
}

#texto h1{
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  margin-top: 20%;
  margin-left: 20%;
}

#texto p{
  opacity: 0.7;
  font-size: 18px;
  color: #000000;
  line-height: 28px;
  margin-left: 20%;
  width: 316px;
  height: 84px;
  margin-top: 20px;
}

.cards{
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-left: 220px;
  margin-top: 40px;
}

.card img{
  width: 300px;
  height: 140px;
  border-radius: 15px;
  cursor: pointer;
}

.card_content{
  font-size: 18px;
  line-height: 21px;
  margin-top: 15px;
}

.card_info{
  font-size: 14px;
  font-weight: 16px;
  color: #777777;
  margin-top: 5px;
}



/* PÁGINA ABOUT */

.content{
  margin-left: 220px;
  margin-top: 40px;
}

.content h1{
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.content p{
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  width: 940px;
  height: 140px;
  margin-top: 20px;  
}

/* PAGINA RECEITAS */

.cards.recipes{
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-left: 220px;
  margin-top: 20px;
}

.card-recipe img{
  width: 940px;
  height: 280px;
  border-radius: 15px;
}

.card_content.recipes{
  font-size: 36px;
  line-height: 42px;
  margin-top: 40px;
  font-weight: bold;
  text-align: center;
}

.card_info.recipes{
  font-size: 20px;
  font-weight: 24px;
  color: #777777;
  margin-top: 5px;
  text-align: center;
}

.card-ingredients{
  margin: 32px 0;
}

.card-ingredients h1, 
.card-preparation h1,
.card-information h1{
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
}

.card-ingredients a {
  cursor: pointer;
  color: #999999;
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  position: relative;
  top: 25px;
  left: 150px;
}

.card-preparation a {
  cursor: pointer;
  color: #999999;
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  position: relative;
  left: 200px;
  top: -20px;
}

.card-information a {
  cursor: pointer;
  color: #999999;
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  position: relative;
  left: 270px;
  top: -20px;
}

ul.hide,
p.hide{
  opacity: 0;
  visibility: hidden;
  margin: 32px 0;
}

.card-ingredients ul,
.card-preparation ul
 {
  margin: 20px 0 20px 20px;
}

.card-ingredients ul li,
.card-preparation ul li {
  font-size: 18px;
  font-weight: 28px;
  color: #444444;
}

.card-information p {
  font-size: 18px;
  font-weight: 28px;
  color: #444444;
  margin: 20px 0;
}

/* PAGINA NOT-FOUND */

#not-found {
  text-align: center;
  background: #999999;
}

#not-found h1,
#not-found p,
#not-found img{
  margin: 30px 0;
}

/* LISTAGEM */

.list{
  background-color: #000000;
}

#menuList {
  margin-left: 160px;
  display: flex;
}

#menuList a{
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 16px;
  line-height: 26px;
  margin-left: 40px;
  color: white;
}

#list {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-left: 220px;
  margin-top: 40px;
}

.cardsLists {
  margin-left: 220px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.cardLists img {
  width: 172px;
  height: 80px;
  border-radius: 8.57px;
}



.card_title{
  font-weight: 500;
  font-size: 18px;
  color: #111111;
}

.card_subtitle{
  font-size: 14px;
  color: #777777;
}

.visualizar a {
  font-weight: bold;
  font-size: 14px;
  color: #6558C3;
  cursor: pointer;
  text-decoration: none;
  }